@lt-box-shadow {
  box-shadow: 0 4px 6px 0 #778899;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: #b0c4de;
}
html,
body {
  font-family: 'Open Sans Condensed', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lobster', cursive;
}
h1 {
  font-size: 5em;
}
@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.5rem;
  }
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  p {
    font-size: 1.2rem;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
nav {
  font-size: 2em;
  padding: 2% 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
nav a {
  text-decoration: none;
  color: #2f4f4f;
  padding: 20px 5%;
  font-weight: 600;
  border-left: 3px solid #b0c4de;
  border-radius: 2px;
}
nav a:hover {
  text-decoration: underline;
}
.container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  background-color: #778899;
  border-top: 5px solid #2f4f4f;
}
.container .nav-text {
  margin-left: 2%;
}
.container .banner-content {
  background-color: #808000;
}
.container .banner-text {
  padding: 2%;
  display: flex;
  justify-content: center;
}
.container .banner-text p {
  padding-left: 2%;
  margin-left: 2%;
  border-left: dashed #696969 1px;
}
.container .top-split-row {
  display: flex;
  justify-content: space-between;
  background-color: #696969;
  border-top: 5px solid #2f4f4f;
  align-items: center;
}
.container .middle-text {
  width: 46%;
  padding: 2% 4%;
  line-height: 30px;
  color: black;
  box-shadow: 0 4px 6px 0 #778899;
}
.container .middle-img {
  margin: 0 2%;
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 375px;
  box-shadow: 0 4px 6px 0 #778899;
}
.container .bottom-split-row {
  display: flex;
  justify-content: space-between;
  background-color: #696969;
  border-top: 5px solid #808000;
  align-items: center;
}
