@lt-box-shadow {
  box-shadow: 0 4px 6px 0 #778899;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans Condensed', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lobster', cursive;
}
h1 {
  font-size: 5em;
}
@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.5rem;
  }
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  p {
    font-size: 1.2rem;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
nav {
  border-top: 5px solid #2f4f4f;
  font-size: 2em;
  padding: 1% 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  position: fixed;
  background-color: #556b2f;
  opacity: 0.8;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 10px 3%;
  font-weight: 600;
  border-left: 3px solid white;
  border-radius: 2px;
}
nav a:hover {
  text-decoration: underline;
}
body,
html {
  height: 100%;
  margin: 0;
}
.bg {
  /* The image used */
  background-image: url("/src/images/bg-image.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
}
.main-bg {
  /* The image used */
  background-image: url("/src/images/forest-landscape-nature-6921.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
}
.main-bg-btm {
  /* The image used */
  background-image: url("/src/images/animal-beautiful-bright-1096293.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
}
header {
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
}
.nav-text {
  margin-left: 2%;
}
.banner-content {
  background-color: #808000;
}
.banner-text {
  padding: 2%;
  display: flex;
  justify-content: center;
}
.banner-text p {
  padding-left: 2%;
  margin-left: 2%;
  border-left: dashed #696969 1px;
}
.text-overlay {
  background-color: #696969;
  margin: 10% 10%;
  border-radius: 20%;
  opacity: 0.8;
}
.middle-text {
  margin: 5% 5%;
  line-height: 2em;
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-img {
  margin: 0 2%;
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 375px;
}
.bottom-split-row {
  display: flex;
  justify-content: space-between;
  background-color: #696969;
  border-top: 5px solid #808000;
  align-items: center;
}
