    body,
    html {
        height: 100%;
        margin: 0;
    }
    .bg {
        /* The image used */
        background-image: url("/src/images/bg-image.jpg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        text-align: center;
        align-items: center;
    }
    .main-bg {
        /* The image used */
        background-image: url("/src/images/forest-landscape-nature-6921.jpg");

        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        text-align: center;
        align-items: center;
    }
    .main-bg-btm {
        /* The image used */
        background-image: url("/src/images/animal-beautiful-bright-1096293.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        text-align: center;
        align-items: center;
    }
    header {
        width: 100%;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
    }
    .nav-text {
        margin-left: 2%;
            }
    .banner-content {
        background-color: @mustard;
    }
    .banner-text {
        padding: 2%;
        display: flex;
        justify-content: center;
        
        p {
            padding-left: 2%;
            margin-left: 2%;
            border-left: dashed @grey 1px;
        }
    }
    .text-overlay {
        background-color: @grey;
        margin: 10% 10%;
        border-radius: 20%;
        opacity: .8;
    }
    .middle-text {
        margin: 5% 5%;
        line-height: 2em;
        color: white;
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .middle-img {
        margin: 0 2%;
        height: auto; 
        width: auto; 
        max-width: 500px; 
        max-height: 375px;
        // border: 2px solid @dark-green;
        // .lt-box-shadow;
    }
    .bottom-split-row {
        display: flex;
        justify-content: space-between;
        background-color: @grey;
        border-top: 5px solid @mustard;
        align-items: center;
    }
