nav {
    font-size: 2em;
    padding: 2% 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    a {
        text-decoration: none;
        color: @dark-green;
        padding: 20px 5%;
        font-weight: 600;
        border-left: 3px solid @whiteish;
        border-radius: 2px;

    &:hover {
        text-decoration: underline;
    }
}
}