nav {
    font-size: 2em;
    margin: 2%;
    width: 40%;
    a {
        text-decoration: none;
        color: @dark-green;
        margin: 0 2%;
        padding:3%;
        font-weight: 600;
        border-left: 3px solid @whiteish;
    }
    &:hover {
        text-decoration: underline;
    }
}